body {
    margin: 0;
    padding: 0;
    background-image: url('../img/cola2.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(255, 0, 0); /* Color de texto blanco para contrastar con el fondo */
}

header {
    text-align: center; /* Centrar el texto del encabezado */
    padding: 20px 0; /* Agregar espacio alrededor del encabezado */
}

.container {
    margin: 20px auto; /* Centrar el contenedor */
}

.table {
    background-color: rgba(255, 255, 255, 0.3); /* Color de fondo semitransparente para la tabla */
    font-size: 20px;
}

.table tr:nth-child(even) td {
    background-color: rgba(255, 255, 255, 0.2); /* Cambia este color según tu preferencia */
    color: #000000;
    font-size: 20px;
}

/* Aplica un color de fondo a las celdas impares */
.table tr:nth-child(odd) td {
    background-color: rgb(255, 255, 255, 0.2); /* Cambia este color según tu preferencia */
    color: #000000;
    font-size: 20px; /* Tamaño de fuente deseado */
}

.mi-btn {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 120px; /* Ancho deseado */
    height: 50px; /* Alto deseado */
    margin: 20px auto; /* Centra el botón horizontalmente */
    background-color: rgb(226, 11, 11);
    border: none; /* Quita el borde */
    border-radius: 10px; /* Agrega esquinas redondeadas */
    color: white; /* Color de texto */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    animation: glowing 1.5s infinite alternate; /* Aplica la animación */
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 10px rgba(255,255,255,0.5), 0 0 20px rgba(255,255,255,0.5), 0 0 30px rgba(255,255,255,0.5); /* Valor inicial de la sombra */
    }
    100% {
        box-shadow: 0 0 20px rgba(255,255,255,1), 0 0 30px rgba(255,255,255,1), 0 0 40px rgba(255,255,255,1); /* Valor final de la sombra */
    }
}
