body {
    margin: 0;
    padding: 0;
    background-image: url('../img/cola2.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(255, 0, 0); /* Color de texto blanco para contrastar con el fondo */
}

header {
    text-align: center; /* Centrar el texto del encabezado */
    padding: 20px 0; /* Agregar espacio alrededor del encabezado */
}

.container {
    margin: 20px auto; /* Centrar el contenedor */
}

.table {
    background-color: rgba(255, 255, 255, 0.3); /* Color de fondo semitransparente para la tabla */
    font-size: 20px;
}

.table tr:nth-child(even) td {
    background-color: rgba(255, 255, 255, 0.2); /* Cambia este color según tu preferencia */
    color: #ffffff;
    font-size: 20px;
}

/* Aplica un color de fondo a las celdas impares */
.table tr:nth-child(odd) td {
    background-color: rgb(255, 255, 255, 0.2); /* Cambia este color según tu preferencia */
    color: #f2f2f2;
    font-size: 20px; /* Tamaño de fuente deseado */
}

.mi-btn {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100px; /* Ancho deseado */
    height: 50px; /* Alto deseado */
    margin: 20px auto; /* Centra el botón horizontalmente */
    background-color: brown;
  }
