body {
    background-image: url('../img/fontmundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  table {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    border-radius: 10px;
  }

  th, td {
    color: #333; /* Color del texto */
  }

  th {
    background-color: #6299d1; /* Color de fondo del encabezado */
  }

  tbody tr:hover {
    background-color: #135ba3; /* Color de fondo al pasar el mouse */
  }

  img {
   
    height: 80px;
  }