body, html {
  background-image: url("../img/fontmundo.jpg");
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

header{
  padding: 10px;
}

.btn {
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #1f4c65;
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.btn:active {
  scale: 0.92;
}

.btn:hover {
  background: rgb(2,29,78);
  background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
  color: rgb(4, 4, 38);
}


.carousel {
  width: 70%; /* Ancho del carrusel */
  margin-left: auto; /* Margen izquierdo automático */
  margin-right: auto;
  margin-top: -4%; /* Margen derecho automático */
  height: 100vh;
}

.carousel-item {
  width: 100%;
  height: 100%; /* Ajusta el tamaño de los elementos del carrusel al 100% del carrusel */
}

.carousel-inner {
  width: 100%;
  height: 100%; /* Ajusta el tamaño del contenedor interno al 100% del carrusel */
}

.carousel-caption {
  position: absolute;
  bottom: 190px; /* Ajusta la distancia desde la parte inferior del carrusel */
  left: 0;
  right: 0;
  padding: 40px; /* Ajusta el relleno del carrusel caption */
  background: transparent; /* Ajusta el color de fondo del carrusel caption */
  color: rgb(0, 0, 0);
  text-align: center;
}

.title {
  font-size: 2.2rem; /* Ajusta el tamaño de la fuente del título */
}

.subtitle {
  font-size: 1.5rem; /* Ajusta el tamaño de la fuente del subtítulo */
}

.btn-success {
  font-size: 1rem; /* Ajusta el tamaño de la fuente del botón */
  padding: 0.8rem 3rem; /* Ajusta el relleno del botón */
  background-color: rgb(35, 46, 123);
 
}

.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: rgb(37, 115, 209);
  border-color: rgb(35, 46, 123);

}





.top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.room {
  background-color: #f9f9f9;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 30px;
  transition: transform 0.3s ease;
}

.room-buttons {
  display: flex;
}

.room-button {
  background-color: #ccc;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.room-button.active {
  background-color: #666;
}

.icons img {
  width: 30px;
  margin-left: 10px;
}

.back-button {
  background-color: #ccc;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

h1 {
  margin: 0;
}

main {
  padding: 20px;
}


